* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

nav {
	margin: auto;
	min-height: 13vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.3);   
    background-color: #5d3453f5;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.logo {
	margin-left: 80px;
}

.logo a{
	margin: 80px;
	text-decoration: none;
	color: white;
	letter-spacing: 2px
}

.logo a h2:hover{
	color: lightsalmon;
}

.logo a h2{
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
}

.logo a p{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 14px;
}

.nav-links{
	margin-right: 80px;
	flex:0.5;
}

.nav-links ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: 2px
}

.nav-links a:hover{
	color: lightsalmon;
}

.main{
	margin-left: 80px;
}

.console{
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	min-height: 87vh;
	margin:auto;
	display: flex;
	position: absolute;
	align-items: center;
}


.box{
	margin-top: -5px;
	margin-bottom: -5px;
	position: absolute;
	margin-left: 2px;
	background-color: #e6e3e5f5;
    padding: 25px 65vw 20px 16px;
	border: 3px solid rgb(0, 126, 243);
	z-index: -1;
}

.typing{
	margin-left: 15px;
	padding:0;
}

.typing::after {
	content: "_";
    display: inline-block;
	position: relative;
	animation: infinite blink 1s ease;
}

@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}